PORT=
# FOR MAIL SENDING
MAIL_HOST=
MAIL_USER=
MAIL_PASSWORD=

# FOR AUTH
JWT_SECRET=
RAZORPAY_SECRET=
RAZORPAY_KEY=
RAZORPAY_WEBHOOK_SECRET=

# cloudinary
CLOUD_NAME=
API_KEY=
API_SECRET=
FOLDER_NAME=


DATABASE_URL=

CLIENT_URL=